<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Melody</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
<ion-searchbar color="danger"></ion-searchbar>
<ion-card>
  <img class="card-image" src="assets/bey.jpeg" />
  <ion-card-header>
  <ion-card-title>Black Parade</ion-card-title>
  </ion-card-header>
   <ion-item>
    <ion-label>Beyonce - Black Parade</ion-label>
     <ion-button class="btn-play" color="danger" slot="end">
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
    Beyonce Black Parade is in the top 10 music of 2020.
  </ion-card-content>
</ion-card>

<ion-card>
  <img class="card-image" src="assets/ed2.jpeg" />
  <ion-card-header>
  <ion-card-title>Bloodstream</ion-card-title>
  </ion-card-header>
   <ion-item>
    <ion-label>Ed Sheeran - Bloodstream</ion-label>
     <ion-button class="btn-play" color="danger" slot="end">
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
     Ed Sheeran is symply the best, Period.
  </ion-card-content>
</ion-card>

<ion-card>
  <img class="card-image" src="assets/minaj2.jpeg" />
  <ion-card-header>
  <ion-card-title>Chan Li</ion-card-title>
  </ion-card-header>
   <ion-item>
    <ion-label>Nicky Minaj - Chan Li</ion-label>
    <ion-button class="btn-play" color="danger" slot="end">
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
    Nicky's Chan Li is in the top 1000 music of the decade.
  </ion-card-content>
</ion-card>

<ion-card>
  <img class="card-image" src="assets/drake.jpeg" />
  <ion-card-header>
  <ion-card-title>Started from the bottom</ion-card-title>
  </ion-card-header>
   <ion-item>
    <ion-label>Drake - Started from the bottom</ion-label>
    <ion-button class="btn-play" color="danger" slot="end">
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
    Drake's Black Parade is in the top 100 music of the decade.
  </ion-card-content>
</ion-card>

<ion-card>
  <img class="card-image" src="assets/bey2.jpeg" />
  <ion-card-header>
  <ion-card-title>ALREADY</ion-card-title>
  </ion-card-header>
   <ion-item>
    <ion-label>Beyonce ft Shatta Walle - ALREADY</ion-label>
   <ion-button class="btn-play" color="danger" slot="end">
      <ion-icon slot="icon-only" name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
    Beyonce's ALREADY is in the top 10 music of 2020.
  </ion-card-content>
</ion-card>


</ion-content>
